body{
	font-size: 16px;
}
#out{
	width:90%;
	height: 800px;
	margin: 2% auto;
	background-color: beige;
	position: relative;
}
.head{
	font-size: 50px;
	border-bottom: #1E90FF solid 2px;
	padding: 10px auto;
	position: relative;
}
#h{
	text-align: center;
}
#logout_button{
	position: absolute;
	right: 5%;
	bottom: 10%;
	display: none;
}
#login_form{
	width: 50%;
	margin: 10px auto;
	position: relative;
	font-size: 20px;
}
#logout_button:hover,#login_button:hover,#add_button:hover,#login_again_button:hover,#remove_button:hover,#ok_button:hover{
	color: dodgerblue;
}
#login_button,#logout_button,#add_button,#login_again_button,#remove_button,#ok_button{
	width: 70px;
	height: 30px;
	text-align: center;
	border-radius: 8px;
}
#ok_button{
	margin: 10px 0 0 0;
}
input{
	height: 20px;
	position: absolute;
	left: 55%;
}
#time{
	font-size: 15px;
	width: 90%;
	margin: 0 auto;
	height: 50px;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#show_weather{
	width: 60%;
	padding: 1% 2%;
	margin: 0;
	float: left;
}
.right{
	width: 30%;
	height: 50px;
	float: right;
}
#add_button{
	position: absolute;
	right: 10%;
	/*display: none;*/
}
#remove_button{
	position: absolute;
	right: 10%;
	display: block;
	top: 55%;
}
#login_again_button{
	position: absolute;
	right: 48%;
}	
th{
	text-align: left;
}
td{
	width: 20%;
}
#name_weather{
	font-size: 25px;
	padding: 0 0 10px 0;
}
#detail{
	clear: both;
	padding: 1% 2%;
	margin: 0;
	border: 1px solid black;
}
.simple_weather tr:hover{
	font-weight: bold;
	color: #1E90FF;
}
#detail{
	background-color: blanchedalmond;
	display: none;
	margin: 2%;
}
#detail_city_name{
	font-weight: bold;
}
.detail_weather {
	width: 70%;
}
#add_list{
	clear: both;
	padding: 1% 2%;
	margin: 2%;
	border: 1px solid black;
	display: none;
	background-color: blanchedalmond;
}
